@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');

body{
  font-size: 16px;
  background: white;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  z-index: 1;
}
.App {
  text-align: center;
}
.App-header {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  top:4em;
}
nav{
  position:fixed;
  left:60em;
  top:6em;
  z-index: 100;
}
nav li{
  display: inline-block;
  cursor: pointer;

}
nav li .link{
  text-decoration: none;
  color: black;
  padding:1em;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
