@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');

body{
  font-size: 2vw;
  background: white;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  z-index: 1;
}

.App {
  text-align: center;
}

.heading-background{
  color: #9352ae;
  font-size: 17vw;
  opacity: 0.05;
  position: fixed;
  z-index: -1;
}

.Header {
  color: black;
  font-size: 2vw;
  margin: 5vw;
}

nav{
  background-color: pink;
  height: 3vw;
  top: 0;
  left: 0;
  right: 0;
  position:fixed;
  text-align: left;
  width: 100%;
  z-index: 100;
}
nav ul{
  margin-left: 0;
  margin-top: 0;
  
}
nav li{
  display: inline-block;
  cursor: pointer;
}
nav li .link{
  color: black;
  opacity: 0.6;
  padding: 0.5vw;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
li .link:hover{
  opacity: 1;
}

.about{
  margin: 10%;
}
.about-content{
}
.about-content h1{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}
.about-content p{
  /* font-size: 1.3em; */
  /* text-align: left; */
  /* width: 85%; */
}
.about img{
  /* margin-left: 5em; */
}
.work{
  margin: 10%;
}
.work .heading{
  font-family: 'Montserrat', sans-serif;
  /* font-size: 5em; */
  text-align: left;
}
.work .work-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* grid-gap: 2em; */
}
.project img{
  height: 10vw;
  width: 10vw;  
}

.contact{
  margin: 10%;
}
.contact h1{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}
.amazing-color{
  color:#9352ae;
  /* opacity: 1; */
}
.contact li{
  display: inline-block;
  margin-bottom: 10vw;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
}
.contact li a{
  text-decoration: none;
  color:black;
}

.inline-container{
  padding: 0em;
  color: plum;
  font-size: 1.5em;
} 
.footer{
  position: relative;
  bottom: 0em;
  padding: 0em;
  text-align: center;
  /* background-color:pink; */
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
}
